body {
  font-family: 'Exo 2', sans-serif;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../assets/img/Fon_pattern.svg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  @media (max-width: 1300px) {
    height: 100%;
  }
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  .tittle {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 100;
    p {
      margin: 24px;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 0px;

    justify-items: center;

    @media (max-width: 1300px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 80px;
      grid-row-gap: 0px;

      .disable {
        grid-area: 2 / 1 / 3 / 3;
      }
    }

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
    .wrapper {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        p {
          cursor: pointer;
          color: #1698d9;
          margin: 0;
          border-bottom: 1px dashed #1698d9;
        }
      }
    }
  }
}
